---
import Layout from '../layouts/Layout.astro';
import LandingHeader from '../components/LandingHeader.astro';
import LandingSection from '../components/LandingSection.astro';
import ModelYSection from '../components/ModelYSection.astro';
---

<Layout title="Tesla Web Clone">
	<LandingHeader />
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto overflow-x-hidden">
		<div class="snap-center">
			<LandingSection />
		</div>
		<div class="snap-center">
			<ModelYSection />
		</div>
		<div class="snap-center">
			<LandingSection />
		</div>
		<div class="snap-center">
			<LandingSection />
		</div>
		<div class="snap-center">
			<LandingSection />
		</div>
	</main>
</Layout>
